body{
    background-color: #323435 ;
}

.Portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #323435 ;


    .cabecalho{
        display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         padding: 20px 90px 20px 90px;
         width: 100%;

         .esquerda{
            h1{
                font: 700 28px poppins;
                color: #ece7e7;

                span{
                    color: #0075FF;
                }
            }
         }

        .menu{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px 0px 0px 0px ;
            gap:15px ;


            button{
                font: 600 22px poppins;
                background-color: #323435;
                color: #ece7e7;
                border: none;
                cursor: pointer;
                
            }

            button:hover{
                text-decoration: underline;
                text-decoration-color: #0075FF; 
                text-underline-offset: 7px; 
                text-decoration-thickness: 3px;
            }
        }

        .direita{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;

            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
                border: 1px solid gray;
                border-radius: 5px;  
                transition: .3s;

                img{
                    width: 32px;
                }
            }
            a:hover{
                transform: scale(1.1);
            }
            a:active{
                transform: scale(1.0);
            }
        }
    }

    .seccao1{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin: 200px 0px 0px 0px;

        .card{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            .esquerda{
                display: flex;
                flex-direction: column;
                gap: 2px;

                h1{
                    font: 500 28px poppins;
                    color: #0075FF;
                }

                #nome{
                    font: 600 100px/75px poppins;
                    color: #ece7e7;
                }
                #cinza {
                    color: #8c8c8c; 
                    border-right: 2px solid #8c8c8c; 
                    white-space: nowrap;
                    overflow: hidden;
                    width: 0;
                    animation: texto 3s steps(30, end) 2s infinite, barra 0.5s step-end infinite;
                }
                
                @keyframes texto {
                    0% {
                        width: 0;
                    }
                    100% {
                        width: 100%;
                    }
                }
                
                @keyframes barra {
                    50% {
                        border-color: transparent;
                    }
                }
                
            }

            img{
                width: 200px;
                border-radius: 50%;
                box-shadow: 2px 5px 20px #0075FF;
            }
        }

    }

    .seccao2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 70px 0px 0px 0px;
        width: 100%;

        .protecao{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            width: 80%;

            h1{
                color: #ece7e7;
                font: 600 34px poppins;
                align-self: self-start;
            }

            .carde1 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                align-items: center;
                justify-content: center;
            
                .card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    transition: transform 0.3s, box-shadow 0.3s;
                    cursor: pointer;

                    img{
                        width: 24px;
                    }
            
                    h1 {
                        font: 500 22px Poppins, sans-serif;
                        color: #ece7e7;
                    }
            
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            
                /* Hover individual para cada linguagem */
                .card:nth-child(1):hover {
                    box-shadow: 0 4px 20px rgba(227, 76, 38, 0.6); /* HTML - Laranja */
                }
            
                .card:nth-child(2):hover {
                    box-shadow: 0 4px 20px rgba(38, 77, 228, 0.6); /* CSS - Azul */
                }
            
                .card:nth-child(3):hover {
                    box-shadow: 0 4px 20px rgba(97, 218, 251, 0.6); /* React - Azul Claro */
                }
            
                .card:nth-child(4):hover {
                    box-shadow: 0 4px 20px rgba(204, 102, 153, 0.6); /* SASS - Rosa */
                }
            
                .card:nth-child(5):hover {
                    box-shadow: 0 4px 20px rgba(108, 192, 98, 0.6); /* Node.js - Verde */
                }
            
                .card:nth-child(6):hover {
                    box-shadow: 0 4px 20px rgba(247, 223, 30, 0.6); /* JavaScript - Amarelo */
                }
            }

            .carde2 {
                display: flex;
                flex-direction: row;
                gap: 20px;
                width: 100%;
                align-items: center;
                justify-content: center;
            
                .card {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    gap: 10px;
                    transition: transform 0.3s, box-shadow 0.3s;
                    cursor: pointer;

                    img{
                        width: 24px;
                    }
            
                    h1 {
                        font: 500 22px Poppins, sans-serif;
                        color: #ece7e7;
                    }
            
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            
                /* Hover individual para cada ferramenta */
                .card:nth-child(1):hover {
                    box-shadow: 0 4px 20px rgba(0, 51, 153, 0.6); /* SQL Server - Azul Escuro */
                }
            
                .card:nth-child(2):hover {
                    box-shadow: 0 4px 20px rgba(10, 105, 248, 0.6); /* SQL Workbench - Laranja */
                }
            
                .card:nth-child(3):hover {
                    box-shadow: 0 4px 20px rgba(255, 100, 0, 0.6); /* AWS - Laranja */
                }
            
                .card:nth-child(4):hover {
                    box-shadow: 0 4px 20px rgba(180, 9, 9, 0.6); /* GIT - Cinza */
                }
            
                .card:nth-child(5):hover {
                    box-shadow: 0 4px 20px rgb(223, 226, 230); /* GitHub - Cinza Escuro */
                }
            }
            
            

        }
    }


    .seccao3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 100px 0px 100px 0px;

        .protecao{
            display: flex;
            flex-direction: column;
            width: 81%;
            gap: 15px;
            margin-bottom: 100px;
            align-items: center;
            h1{
                align-self: self-start;
                color: #ece7e7;
            }

           .cartao{
            display: flex;
            flex-direction: row;
            gap: 20px;
            
            border: 1px solid #8c8c8c;
            border-radius: 5px;
            height: 400px;
            width: 100%;

            .esquerda{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                img{
                    width: 200px;
                    border-radius: 50%;
                    box-shadow: 2px 5px 20px #0075FF;
                    
                }
            }

            .direita{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                padding: 10px 20px 10px 0px;

                p{
                    font: 500 20px poppins;
                    color: #ece7e7;
                }
            }
           }
        }
    }

    .seccao4{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        

        .protecao{
            display: flex;
            flex-direction: column;
            width: 80%;

            h1{
                
                font: 700 28px poppins;
                color: #ece7e7;
                margin-bottom: 20px;

                span{
                    color: #0075FF;
                }
            }

            .risco{
                height: 2px;
                background-color: #ece7e7;
                width: 100%;
                margin-bottom: 30px;

            }

            .infos{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                
                margin-bottom: 40px;

                .paginas{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    button{
                        font: 500 22px poppins;
                        background-color: #323435;
                        color: #ece7e7;
                        border: none;
                        cursor: pointer;
                        text-align: start;
                        
                    }
        
                    button:hover{
                        text-decoration: underline;
                        text-decoration-color: #0075FF; 
                        text-underline-offset: 7px; 
                        text-decoration-thickness: 3px;
                    }
                }

                .redes{
                    a{
                        font: 500 22px poppins;
                        background-color: #323435;
                        color: #ece7e7;
                        border: none;
                        cursor: pointer;
                        text-align: start;
                        text-decoration: none;
                        
                    }
        
                    a:hover{
                        text-decoration: underline;
                        text-decoration-color: #0075FF; 
                        text-underline-offset: 7px; 
                        text-decoration-thickness: 3px;
                    }
                }

                .contatos {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    border-radius: 10px;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                
                    input {
                        width: 100%;
                        max-width: 400px;
                        padding: 0.75rem;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 1rem;
                        transition: border-color 0.3s, box-shadow 0.3s;
                
                        &:focus {
                            border-color: #4a90e2;
                            box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
                            outline: none;
                        }
                
                        &::placeholder {
                            color: #aaa;
                            font-style: italic;
                        }
                    }
                
                    button {
                        padding: 0.75rem 1.5rem;
                        background-color: #4a90e2;
                        color: #fff;
                        font-size: 1rem;
                        font-weight: bold;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s, transform 0.2s;
                
                        &:hover {
                            background-color: #357ab8;
                            transform: scale(1.05);
                        }
                
                        &:active {
                            transform: scale(1);
                        }
                    }
                }
                
            }
        }
    }
}